html {
  font-family: 'Lato';
}

.bonus {
  position:relative;
}

.mainMenuContainer {
  display: flex;
  margin: 10vh 0 auto;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

#start {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
  flex: 1;
  color: rgba(122, 122, 122, 0.8)  ;
  background: white;
  font-size: 8vw;
  border: none;
  outline: none;
  height: 20vh;
}

#instructions {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
  flex: 1;
  color: rgba(122, 122, 122, 0.7);
  background: white;
  font-size: 1.5vh;
}

.rainbow-wordmark {
  position: relative;
  margin: 0 auto;
  max-width: 350px;
}

.rainbow-wordmark__canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 110%; /* canvas is 1100px, img is 1000 */
}

.rainbow-wordmark__image {
  display: block;
  width: 100%;
  position: relative;
}

#timer {
  position:relative;
  text-align: center;
  font-size:1vw;
}

#gameContainer {
  position: relative;
  top: 5vh;
  width:100%;
  height: 100%;
  display: none;
}

.equationContainer {
  display: block;
  font-size: 15vw;
  width:100%;
  height:1em;
  text-align: center;
}

#equalsSign {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 8vw;
  height: 1em;
}

#userAnswer {
  display: block;
  text-align: center;
  width: 99%;
  height: 1.5em;
  font-size: 15vw;
  font-family: 'Lato';
  border-color: transparent;
  outline: none;
}

#start, #instructions, #bonus {
    animation: fadein 3.5s;
    -moz-animation: fadein 3.5s; /* Firefox */
    -webkit-animation: fadein 3.5s; /* Safari and Chrome */
    -o-animation: fadein 3.5s; /* Opera */
}

summary{
  border: none;
  outline: none;
  font-size: 1.5vh;
}

details {
  width:70%;
  border: none;
  outline: none;
}

#userQuestionsNumber, #userTermNumber {
  border: none;
  outline: none;
  text-align: center;
  font-size: 1.5vh;
}

#theEnd {
  margin: 10vh 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  opacity: 0;
}

#retry {
  background-color: rgb(255, 93, 71);
  color: white;
  border-color: white;
  outline: none;
  transition: 2s;
  width: 5em;
  left: 40vw;
}


#retry, #fb, #congratulations  {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
  flex: 1;
  font-size:2vw;
  margin: 5vh 0 auto;
  text-align: center;
}

#retry:hover {
    background: rgb(18, 210, 14);
  }

.Finn {
  position: fixed;
  top: 30%;
  left:10%;
  width: 60%;
  height: 60%;
  display:none;
  opacity: 0;
  transition: opacity 1.5s;
  z-index:-100;
}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
